h1 {
	font-size: 30px;
	margin-bottom: 1em;
}

ol {
	list-style: decimal inside;
	margin-bottom: 1em;
}

body {
	padding-top: 1em;
	padding-left: 5em;
}

.panelContainer {
	margin: 0px;
	padding: 0px;
	font-size: 0;
	vertical-align: top;
}

.panelImage {
	position: relative;
	top: -1px;
}

.creditsImage {
	position: relative;
	top: -1px;
}

.lockSpan {
	display: none;
	text-align: center;
	padding: 2px 0px;
}

.unlockedLock {
	text-align: center;
	cursor: pointer;
	float: left;
	background-color: #ddffdd;
}

.clearBR {
	clear: both;
}

.unlockedLock:hover {
	background-color: #bbddbb;
}

.lockedLock {
	text-align: center;
	cursor: pointer;
	float: left;
	background-color: #ffdddd;
}

.lockedLock:hover {
	background-color: #ddbbbb;
}

.hidden {
	display: none;
}

#reloadButton {
	border-top: 2px gray solid;
	border-left: 2px gray solid;
	border-right: 2px black solid;
	border-bottom: 2px black solid;
	padding: 5px 5px;
	color: black;
	text-decoration: none;
	background-color: #dddddd;
	margin-bottom: 1em;
	clear: both;
}

#panelNumSwitcher {
	color: black;
	text-decoration: none;
	padding: 3px 0px;
}

.unchosenPanelNumLink {
	background-color: #dddddd;
	border-top: 2px gray solid;
	border-bottom: 2px black solid;
	border-left: 2px gray solid;
	border-right: 2px black solid;
	padding: 4px 6px;
	margin: 0px 0px;
	text-decoration: none;
	color: black;	
}

.chosenPanelNumLink {
	background-color: #cccccc;
	border-top: 2px black solid;
	border-bottom: 2px gray solid;
	border-left: 2px black solid;
	border-right: 2px gray solid;
	padding: 4px 6px;
	margin: 0px 0px;
	text-decoration: none;
	color: black;
}
