:focus {
	outline: 1px gray dotted;
}

h1 {
	font-size: 30px;
	margin-bottom: 1em;
}

ol {
	list-style: decimal inside;
	margin-bottom: 1em;
}

body {
	padding-top: 1em;
	padding-left: 5em;
}

#content {
	width: 735px;
}

#panelContainer {
	margin: 0px;
	padding: 0px;
	font-size: 0;
	vertical-align: top;
	position: relative;
}

.panelImage {
	position: relative;
}

.creditsImage {
	position: relative;
}

.lockSpan {
	display: none;
	text-align: center;
	padding: 2px 0px;
}

.unlockedLock {
	text-align: center;
	cursor: pointer;
	float: left;
	background-color: #ddffdd;
}

.clearBR {
	clear: both;
}

.unlockedLock:hover {
	background-color: #bbddbb;
}

.lockedLock {
	text-align: center;
	cursor: pointer;
	float: left;
	background-color: #ffdddd;
}

.lockedLock:hover {
	background-color: #ddbbbb;
}

.hidden {
	display: none;
}

#reloadButton {
	border-top: 2px gray solid;
	border-left: 2px gray solid;
	border-right: 2px black solid;
	border-bottom: 2px black solid;
	padding: 5px 5px;
	color: black;
	text-decoration: none;
	background-color: #dddddd;
	margin-bottom: 1em;
	clear: none;
	float: left;
	cursor: pointer;
}

#panelNumSwitcher {
	color: black;
	text-decoration: none;
	padding: 6px 0px;
	text-align: right;
}

.unchosenPanelNumLink {
	background-color: #dddddd;
	border-top: 2px gray solid;
	border-bottom: 2px black solid;
	border-left: 2px gray solid;
	border-right: 2px black solid;
	padding: 4px 6px;
	margin: 0px 0px;
	text-decoration: none;
	color: black;	
}

.chosenPanelNumLink {
	background-color: #cccccc;
	border-top: 2px black solid;
	border-bottom: 2px gray solid;
	border-left: 2px black solid;
	border-right: 2px gray solid;
	padding: 4px 6px;
	margin: 0px 0px;
	text-decoration: none;
	color: black;
}

#numPanelsHolder {
	position: relative;
	width: 300px;
	clear: none;
	float: right;
	text-align: right;
	padding: 8px 0px;
}

.flushTop {
	top: 0px;
}

.shiftDownOnePx {
	top: 1px;
}

#setAltTextLink {
	background-color: white;
	border: 1px blue solid;
	color: blue;
	position: absolute;
	bottom: 16px;
	right: 1px; 
	clear: none;
	float: none;
	padding: 2px 2px;
	z-index: 1000;
	font-size: small;
	text-decoration: none;
	vertical-align: middle;
}

#altTextInput {
	position: absolute;
	left: 0px;
	bottom: 40px;
	z-index: 1001;
}
