$btn-light-border-color: #808080;
$btn-dark-border-color: #000;

.Button {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;

  background-color: #ddd;
  border-top: 2px solid $btn-light-border-color;
  border-bottom: 2px solid $btn-dark-border-color;
  border-left: 2px solid $btn-light-border-color;
  border-right: 2px solid $btn-dark-border-color;

  color: #000;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.15;
  text-decoration: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &--pressed {
    background-color: #ccc;
    border-top: 2px solid $btn-dark-border-color;
    border-bottom: 2px solid $btn-light-border-color;
    border-left: 2px solid $btn-dark-border-color;
    border-right: 2px solid $btn-light-border-color;
  }

  &--pressed:hover {
    background-color: #d4d4d4;
  }

  &--with-icon {
    padding-left: 24px;
  }
}
