.Lock {
  &__button {
    display: inline-block;
    padding: 2px 0;

    text-align: center;

    &--unlocked {
      background-color: #dfd;
    }

    &--unlocked:hover {
      background-color: #bdb;
    }

    &--locked {
      background-color: #fdd;

      text-align: center;
    }

    &--locked:hover {
      background-color: #dbb;
    }

    &--tl {
      width: 244px;
    }

    &--tm {
      width: 129px;
    }

    &--tr {
      width: 362px;
    }

    &--bl {
      width: 194px;
    }

    &--bm {
      width: 298px;
    }

    &--br {
      width: 243px;
    }
  }
}
