.NumPanelsWrapper {
  padding: 8px 0;
  width: 260px;

  font-size: 14px;
  text-align: right;
}

.NumPanelsSwitcher {
  padding: 6px 0;

  color: #000;
  text-align: right;
  text-decoration: none;
}
