:focus {
	outline: 1px gray dotted;
}

#setAltTextLink {
	background-color: white;
	position: absolute;
	bottom: 16px;
	right: 3px; 
	padding: 0px 0px;
	z-index: 1000;
	vertical-align: middle;
}

#altTextInputControls {
	position: absolute;
	right: 3px;
	bottom: 20px;
	z-index: 1001;
	text-align: right;
}

#altTextInput {
	border: 2px blue solid;
}

.altTextInputButton {
	padding: 2px 2px;
	text-decoration: none;
	vertical-align: middle;
}
