.LocksRow {
    height: 22px;
}

.Lock {
    display: inline-block;
    padding: 2px 0;
    height: 22px;
    box-sizing: border-box;

    text-align: center;
}

.Lock--unlocked {
    background: no-repeat center #dfd url("../../../images/lock_open.png");

    &:hover,
    &:focus {
        background-color: #bdb;
    }
}

.Lock--locked {
    background: no-repeat center #fdd url("../../../images/lock.png");

    &:hover,
    &:focus {
        background-color: #dbb;
    }
}

.Lock--tl {
    width: 244px;

    border-top: 1px #000 solid;
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
}

.Lock--tm {
    width: 130px;

    border-top: 1px #000 solid;
    border-right: 1px #000 solid;
}

.Lock--tr {
    width: 361px;

    border-top: 1px #000 solid;
    border-right: 1px #000 solid;
}

.Lock--bl {
    width: 194px;

    border-bottom: 1px #000 solid;
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
}

.Lock--bm {
    width: 299px;

    border-bottom: 1px #000 solid;
    border-right: 1px #000 solid;
}

.Lock--br {
    width: 242px;

    border-top: 1px #000 solid;
    border-right: 1px #000 solid;
}

.Comic--6_panels {
  .Lock--br {
    border-top: 0;
    border-bottom: 1px #000 solid;
    border-right: 1px #000 solid;
  }
}
